html
  script(src='reload.js')
  head
    title= devEUI
  body
    h1= dev_id
    h1= counter
    h1= metadata.time
    | <h1>gateway</h1>
    each gateway in metadata.gateways
      h1= gateway.gtw_id
      h1= gateway.rssi
